
body {
  /*background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("IMG_1141.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: none;*/
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120%;
  font-weight: normal;
}


@media screen and (max-width: 600px) {
  #title_message {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  #mobile {
      display: none;
      max-height: 0;
      line-height: 0;
  }
}

#italic {
    font-style: italic;
}

section {
  margin: 0;
  padding: 10px;
  -moz-box-shadow: 0 0 5px #ccc;
-webkit-box-shadow: 0 0 5px #ccc;
box-shadow: 0 0 5px #ccc;
}

section:nth-child(1) {
  background: #5CC1AF;
}

section:nth-child(3) {
  background: #1D2023;
}

.readable {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: normal;
}

.center {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 40px;
  padding: 10px;
  transition: all .75s;

}

a.link-headers:hover {
  color: orange;
}

a.link-on-white:hover {
  color: orange;
}

a:hover {
  color: white;
}

a {
  width: 100px;
  text-decoration: none;
}

h1,h2,h3,h5,h6 {
  color: gray;
  font-weight: normal;
}

h4 {
    color: #529b9c;
}

p {
    color: #675a55;
}

span {
    color: #675a55;
}

.icon-space {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.vertical-space {
padding-top: 10%;
}

.panel-body {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.link-headers {
    color: gray;
    transition: all .50s;
}

.link-on-white {
    color: #529b9c;
    transition: all .50s;
}

.link {
    color: #529b9c;
    transition: all .50s;
}

.black {
    color: #675a55;
}

.yellow {
  color: #eac392;
}

.blue {
    color: #529b9c;
}

.red {
    color: #d27575;
}

.green {
    color: #9cba8f;
}

.logo {
    padding-left: 85%;

}

.large-text {
    font-size: large;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
