#section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(swimming-kids.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
#section2 {
  background: white;
  background-size: cover;
  min-height: 90vh;
}
#section3 {
  background: #1D2023;
  background-size: cover;
  height: 8vh;
  padding-top: 20px;
}
.jumbotron {
  background: none;
  color: white;
}
.jumbotron p {
  margin-top: 40px;
}
.learn-more {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(learn-more.jpg);
  height: 350px;
  background-size: cover;
  border-radius: 5px;
  padding: 100px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}
.center-text {
  text-align: center;
}
.large-white-text {
  color: white;
  font-size: 30px;
}
.white-text {
  color: white;
  position: absolute;
  left: 30px;
}
.who-we-are {
  float: left;
  border-radius: 2px;
  height: 600px;
  width: 430px;
  position: relative;
  padding: 0;
  margin: 0;
}
.learn-more-story {
  line-height: 2em;
  font-size: larger;
  margin-left: 10px;
  padding: 0;
}
.lower-anchor {
  left: 75%;
  position: absolute;
  bottom: -80%;
}
